.poll {
  padding:20px;
  border:1px solid #ccc;
}

.poll_question {
  font-weight: bold;
  margin-bottom: 20px;
}

.poll_options {
    margin-bottom: 20px;
}

.poll_option {
    margin-bottom: 10px;
}
